manifest {
  name = 'BCCDC-PHL/routine-sequence-qc'
  author = 'Dan Fornika, Nima Farzaneh'
  description = 'Routine Sequence QC'
  mainScript = 'main.nf'
  nextflowVersion = '>=25.10.0, <=26.04.1'
  version = '0.4.7'
}

params {
    run_dir = "NO_FILE"
    instrument_type = "nextseq"
    illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
    fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
    kraken2_db = "/data/ref_databases/kraken2/latest_standard"
    bracken_db = "/data/ref_databases/kraken2/latest_standard"
    seqtk_fqchk_threshold = 30
    mash_sketch_kmer_size = 21
    mash_sketch_minimum_copies = 5

    // Boilerplate options
    outdir                       = null
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Schema validation default options
    validate_params            = true
}

includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        apptainer.enabled       = false
        singularity.enabled     = false
        conda.channels          = ['conda-forge', 'bioconda']
	process.conda = "$baseDir/environments/environment.yml"
    }

}


// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}


plugins {
  id 'nf-schema@2.7.2'
}

validation {
    defaultIgnoreParams = ["illumina_suffixes", "fastq_exts"]
    monochromeLogs = params.monochrome_logs
}

includeConfig 'conf/modules.config'
