manifest {
  author = 'Dan Fornika, Nima Farzaneh'
  description = 'Routine Sequence QC'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.4.0'
}

params {
  run_dir = "NO_FILE"
  instrument_type = "miseq"
  illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
  fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
  kraken2_db = "/data/ref_databases/kraken2/latest_standard"
  bracken_db = "/data/ref_databases/kraken2/latest_standard"
  seqtk_fqchk_threshold = 30
  mash_sketch_kmer_size = 21
  mash_sketch_minimum_copies = 5
}

profiles {
  conda {
    process.conda = "$baseDir/environments/environment.yml"
    if (params.cache){
     conda.cacheDir = params.cache
    }
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

process {
  withName: kraken2 { 
    cpus = 8
    memory = '64 GB' 
  }
}
