process { withName: 'abundance_top_n'       { container = 'https://depot.galaxyproject.org/singularity/python:3.14' } }
process { withName: 'bracken'               { container = 'https://depot.galaxyproject.org/singularity/bracken:2.6.2--py39hc16433a_0' } }
process { withName: 'combine_qc_stats'      { container = 'https://depot.galaxyproject.org/singularity/coreutils:9.5' } }
process { withName: 'fastqc'                { container = 'https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0' } }
process { withName: 'interop_summary'       { container = 'https://depot.galaxyproject.org/singularity/illumina-interop:1.2.4--hdbdd923_2' } }
process { withName: 'kraken2'               { container = 'https://depot.galaxyproject.org/singularity/kraken2:2.1.1--pl5262h7d875b9_1' } }
process { withName: 'mash_sketch'           { container = 'https://depot.galaxyproject.org/singularity/mash:2.3--he348c14_1' } }
process { withName: 'mash_sketch_summary'   { container = 'https://depot.galaxyproject.org/singularity/python:3.14' } }
process { withName: 'multiqc'               { container = 'https://depot.galaxyproject.org/singularity/multiqc:1.13--pyhdfd78af_0' } }
process { withName: 'parse_interop_summary' { container = 'https://depot.galaxyproject.org/singularity/python:3.14' } }
process { withName: 'parse_sample_sheet'    { container = 'https://depot.galaxyproject.org/singularity/python:3.14' } }
process { withName: 'seqtk_fqchk'           { container = 'https://depot.galaxyproject.org/singularity/seqtk:1.3--h7132678_5' } }
process { withName: 'seqtk_fqchk_summary'   { container = 'https://depot.galaxyproject.org/singularity/python:3.14' } }
